html,
body,
header,
.view {
  height: 100%;
}

 .view{background-image: url('img1.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}
  padding: auto 0px;
}

#title{
	margin: 50px 10px; 
}
#nav-section{
margin-bottom: 6rem;
width: 1366px;
height: 911;
}

#homepage{
  color: white;
}

#testimonials{
  padding: 90px 85px 0px;
  margin-bottom: 20px;
  width: 100%;
  height: 700px; 
}
.container-fluid{
  text-align: center;
  padding: 50px;
  
 }
  .btn{
  	size: 100px;
  	margin: 20px 90px;
  	padding: 20px 40px;
  }


  .class-header{
  	background: transparent;
  }

#pricing{
  padding: 50px;
  text-align: center;
}

background-image: url('ux11.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
